// Variables
// --------------------------------------------------

// Colors
$white: #fff;
$black: #000;

// Path Image
$img-path: "../";

// Bases

// Typography
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;

// Measures

// Screens

// Grid